@import '../../../../../common/assets/sass/base/typography';


.heading-primary {
  color: $color-primary;
  font-size: 7.3rem;
  font-weight: 700;
  line-height: 1.1;
}

.heading-secondary {
  color: $color-primary;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 30px;
}

.paragraph {
  font-size: 1.5rem;
  font-weight: 400 !important;
  white-space: pre-wrap;
  color: $color-gray;
}
