.footer {
  .section-navigation {
    padding: 10px 0 0;
    background: #fff;
    border-bottom: 1px solid #e6e6e6 !important;
    border-top: 1px solid #e6e6e6 !important;
    .social-links {
      text-align: right;
      font-size: 1.5rem;
      font-weight: 700;
      color: #fff;
      margin: 0 50px;
      .navigation__list_footer{
        li{
          a{
            color: #fff;
            font-size:1.6rem;
          }
        }
      }
      i {
        height: 20px;
        margin-left: 20px;
      }
    }
  }
  .section-information {
    background-color: #fff;
    color: #728293;
    .logo-ft{
      text-align: center;
      margin-bottom: 30px;
      a{
        overflow: hidden;
      }
    }
    .info-ft{
      font-size: 16px; 
      text-align: center;
      margin-bottom: 10px;
      span{
        color: #d5ae62;
        margin-right: 10px;
      }
    }
    ul{
      text-align: center;
      margin-bottom: 30px;
      li{
        font-size: 16px;
        display: inline-block;
        span{
          color: #d5ae62;
        }
        &.center{
          margin: 0 5px;
        }
      }
    }
  }

  .information--address {
    text-align: center;
    .information {
      &__icon-container {
        font-weight: 700;
        font-size: 1.6rem;
        text-transform: uppercase;
      }
      &__text {
        font-family: Nexa;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.5
      }
    }
  }

  @include respond(tab-port) {
    .information__address-title {
      font-size: 2.2rem;
    }
    .information__address-text {
      font-size: 1.6rem;
    }
    .section-navigation {
      padding: 0;
      .social-links {
        font-size: 2.2rem;
        text-align: center;
        .navigation__list {
          width: 100%;
          overflow: hidden;
          margin-bottom: 30px;
          li{
            width: 50%;
            padding-right: 0;
            text-align: center;
          }
        }
      }
    }
  }
}
