@import '../../../../../common/assets/sass/layout/grid';

section {

  @include respond(tab-port) {
    padding: 30px;
    .row {
      padding: 30px 15px;
      text-align: center;
    }
  }

  @include respond(phone) {
    padding: 10px;
    .row {
      padding: 20px 15px;
      text-align: center;
    }
  }
}

.section-content {
  p:not(:last-child) {
    margin-bottom: 20px;
  }
  
  @include respond(tab-port) {
    .row {
      text-align: left;
    }
  }
}