.header {
  box-shadow: 0 0 5px rgba($color-black, 0.1);
  border-bottom: 1px solid rgba($color-black, .1);
  background-color: #fff;
  .top-header{
    background: $color-primary;
    overflow: hidden;
    @include respond(tab-port) {
       display: flex; 
    }
    .left{
      width: 83%;
      padding: 15px 24px 0px;
      img{
        padding-top:4px;
      }
      #lang_choice_1{
        background: $color-primary;
        border: none;
        color: #fff;
        &:active, &:focus, &:hover{
          outline: none;
          border: none;
        }
        option{
          border: none;
          background: none;
          &:active, &:focus, &:hover{
            outline: none;
            border: none;
          }
        }
      }
      .right{
        ul{
          li{
            display: inline-block;
            margin: -6px 5px 0;
          }
        }
      }
      @include respond(tab-land) {
        width: 75%;
      }
      @include respond(tab-port) {
        width: 78%;
      }
      @include respond(phone) {
        width: 100%;
        padding: 8px 6px 6px;
      }
    }
    > .right{
      width: 17%;
      background: #285078;
      padding: 12px 40px;
      position: relative;
      a{
        color: #fff;
        font-size: 14px;
        img{
          position: absolute;
          left: 16px;
          top: 11px;
        }
      }
      @include respond(tab-port) {
        width: 210px;
      }
      @include respond(phone) {
        display: none;
      }
      @include respond(tab-land) {
        width: 200px;
      }
    }
  }
  .bottom-header {
    overflow: hidden;
    .left{
      padding: 24px 48px;
      background-color: #285078;
      width: 27%;
      text-align: center;
    }
    > .right{
      width: 73%;
      padding: 32px 63px 30px;
      > .right{
        background: #f0f0f0;
        position: relative;
        margin-top: -5px;
        input{
          background: #f0f0f0;
          padding: 13px 7px 13px 30px;
        }
        > img{
          position: absolute;
          left: 10px;
          top: 32%;
        }
        @include respond(tab-port) {
          display: none;
        }
      }
    }
    @include respond(tab-port) {
      background: #285078;
      padding: 10px;
      .left{
        padding: 0;
        width: auto;
      }
      > .right{
        width: auto;
        padding: 15px 0 2px 2px;
        .navigation__toggle{
          i{
            color: #fff;
          }
        }
      }
    }
  }

  @include respond(tab-port) {
    .row {
      padding: 15px;
    }
  }
}
.banner-page{
  padding: 290px 0 85px;
  background-size: cover;
}
.toggleMobileMenu{
  display: block !important;
}