.navigation {
  text-align: left;

  &.navigation--header{

  }
  &__toggle {
    transform: translateY(-10px);
    display: none;
  }

  &__item {
    float: left;
    text-transform: uppercase;
    &.current_page_item{
      > a{
        color: #285078;   
        &:after{
          content: "";
          width: 100%;
          height: 2px;
          background: #e3c07b;
          position: absolute;
          bottom: -5px;
          left: 0;
          right: 0;
        }
      }
    }
    > a {
      color: #88919a;
      font-size: 1.33rem;
      font-weight: 500;
      text-decoration: none;
      position: relative;
      &.active,
      &:hover {
        color: $color-primary-light;
        text-decoration: none;
        &:after{
          content: "";
          width: 100%;
          height: 2px;
          background: #e3c07b;
          position: absolute;
          bottom: -5px;
          left: 0;
          right: 0;
        }
      }
    }
    .sub-menu{
      display: none;
      &.toggleSubmenu{
        margin-top: 15px;
        display: block;
        width: 249px;
        background: #fff;
        position: absolute;
        border: 1px solid #e3c07b !important;
        padding: 0px 0;
        @include respond(phone) {
          position: relative;
          width: 100%;
        }
      }
      li{
        display: block;
        clear: both;
        padding: 10px 0 10px 25px;
        width: 100%;
        a{
          font-weight: 400 !important;
          text-transform: capitalize;
          background: url('../images/common/bg_sub.png') no-repeat left center;
          padding-left: 25px;
          &:hover{

            &:after{
              display: none;
            }
          }
        }
        &:hover{
          background: #e3c07b;
          a{
            background: url('../images/common/bg_sub_active.png') no-repeat left center;
            color: #fff;
          }
        }
      }
    }
    &:not(:last-child) {
      padding-right: 3%;
    }
    &.menu-item-has-children{
      > a{
        background: url('../images/common/icon-submenu.png') right center no-repeat;
        padding-right: 15px;
      }
    }
  }

  &.navigation-footer {
    float: none;
    display: inline-block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    .navigation__list{
      margin-top: 30px;
    }
    .navigation__item {
      a {
        color: $color-blue-light;
      }

      &.active a,
      a:hover {
        background: -webkit-linear-gradient(#fff, #fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
      }
    }
  }

  @include respond(tab-port) {
    &.navigation--header {
      .navigation {

        height: 0;
        display: inline;

        &__toggle {
          float: right;
          display: block;
          font-size: 30px;
          line-height: 1;
        }
        &__list {
          left: 0px;
          width: 100%;
          display: none;
          padding: 10px 20px;
          position: absolute;
          margin-top: 40px;
          background: $color-white;
          border-bottom: 1px solid $color-gray;
        }

        &__item {
          float: none;
          padding: 10px 0;
          text-align: center;
          user-select: none;

          &:not(:last-child) {
            padding-right: 0;
          }
        }
      }
    }
  }

  @include respond(phone) {
    &.navigation-footer {
      .navigation {
        &__item {
          width: 100%;
          text-align: center;

          &:not(:last-child) {
            padding-bottom: 20px;
            padding-right: 0;
          }
        }
      }
    }
  }

}
.header__logo{

}