@import '../../../../../common/assets/sass/abstracts/variables';

$color-primary          : #1a354f;
$color-primary-light    : #285078;
$color-secondary        : #98e2fd;

$color-gray             : #777777;
$color-gray-light       : #e6e6e6;
$color-gray-light       : #eeeeee;

$color-white			: #fff;
$color-blue			: #506886;
$color-blue-light	: #2c6dc4;
$color-blue-set	: #19457d;

$default-font-size : 1.2rem;
