@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=vietnamese');
html {
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%

  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
    .row {
      max-width: 112rem;
    }
    .block-left-contact {
      width: 41.666667% !important;
    }
    .block-right-contact {
      width: 58.333333% !important;
    }
  }
}

body {
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
}
