.row {
  margin: 0 auto;
  max-width: $grid-width;
  @include clearfix;

  [class^="col-"] {
    float: left;

    &:not(:last-child) {margin-right: $gutter-horizontal;}
  }

  .col-1-of-2 {width: calc((100% - #{$gutter-horizontal}) / 2);}
  .col-1-of-3 {width: calc((100% - 2 * #{$gutter-horizontal}) / 3);}
  .col-2-of-3 {width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});}
  .col-1-of-4 {width: calc((100% - 3 * #{$gutter-horizontal}) / 4);}
  .col-2-of-4 {width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});}
  .col-3-of-4 {width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});}

  @include respond(tab-port) {
    [class^="col-"] {
      width: 100% !important;

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
    }
  }
}
// @media (min-width: 992px){
//   .slides {
//     &--packages {
//       .slides {
//         &__item {
//           width: 100%;
//           height: 530px;
//           background-size: cover;
//           background-position: center;
//         }
//       }
//     }
//   }
  
// }
@media (min-width: 1200px) {
  .row{
    max-width: $grid-width-large;
  }
}

