.section-contact--box {
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2);
    padding: 0 15px;
    &:not(:last-child) {
      margin-right: 2rem;
    }
    p{
      font-size: 16px;
      margin-bottom: 25px;
      color: #728293;
      &.tel{
        background: url('../images/common/icon_phone.jpg') no-repeat left center;
        padding-left: 40px;
      }
      &.email{
        background: url('../images/common/icon_mail.jpg') no-repeat left center;
        padding-left: 40px;
      }
    }
    h4{
      font-size: 22px;
      color: #1a354f;
      font-weight: 600;
    }
    .list_social{
      li{
        display: inline-block;
        margin-right: 25px;
      }
    }
  }
  .blog-title {

    &__img--container {
      text-align: center;
      padding-bottom: 30px;
    }
  }
  &__img {
    text-align: center;
    height: 60px;
  }
  &__sup-header {
    font-size: 1.83rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    display: block;
    color: $color-gray-light;
  }

  &__title {
    font-size: 4rem;
    font-weight: 700;
    color: $color-primary;
    line-height: 60px;
  }

  &__description {
    padding: 10px 0;
    span {
      float: left;
      font-size: 1.5rem;
    }
    @include respond(phone) {
      span {
        float: none;
      }
      p{
        padding-left: 0 !important;
        margin: 10px 0 0;
      }
    }
  }

  @include respond(tab-port) {
    &__sup-header {
      text-align: center;
    }

    .row {
      padding: 0px;
    }
  }
}
.top-banner-contact-us, .top-banner-lien-he{
  padding: 6.5% 0;
  background-size: 100%;
  .u-text-white{
    text-align: center;
  }
  .heading-primary{
    text-transform: uppercase;
    line-height: 1.4;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &:after{
      position: absolute;
      content: "";
      width: 158px;
      background: #fff;
      height: 3px;
      bottom: 0;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }
}

.mai-box-contact{
  background: #285078;
  padding: 40px 0;
  .col-w-6{
    float: left;
    width: calc((100% - 2rem) / 2);
    margin: 0 !important;
    img{
      &.left{
        margin-right: 20px;
      }
    }
    div{
      h1{
        color: #fff;
        text-transform: uppercase;
        font-size: 23px;
        font-weight: bold;
      }
      p{
        color: #7496b7;
        font-size: 16px;
      }
    }
    .form--contact-headding{
      position: relative;
      text-align: right;
      .emailaddress{
        width: 426px;
        padding: 20px 15px;
      }
      button{
        background: none;
        position: absolute;
        right: 0;
      }
    }
  }
}

@include respond(phone) {
  .quotation-form--contact{
    .button--primary{
      background-size: 100%;
    }
  }
}