.section-main {
  padding: 0px;
  background-image: url('../images/header/slider-image.jpg');
  padding: 140px 0;
  margin: 0 auto;

  .heading-description {
    font-size: 1.4rem;
  }

  .button--primary {
    margin-right: 10px;
  }

  @include respond(phone) {
    padding: 30px;

    .button--primary {
      margin-bottom: 10px;
    }
  }
}

.section-quotation {
  .slogan{
    text-align: center;
    background-image: url("../images/slogan/bg_slogan.png");
    background-repeat: no-repeat;
    background-position: top center;
    overflow: hidden;
    font-size: 4rem;
    line-height: 1.2;
    color: #3855d5;
    padding: 7px 40px 5px;
    width: 910px;
    margin: 0 auto;
    font-weight: bold;
    // line-height: 46px;
  }
  @include respond(tab-port) {
    width: 100%;
    .row {
      padding: 5px;
    }
    .slogan{
      width: 100%;
      padding: 0 10px;
      background-size: 100%;
    }
  }

}

.section-support {
  background-color: #ffffff;
  padding-top: 20px;
}

.section--packages {
  padding: 0;
  background-color: #fff;

  .blog-title {
    padding: 0 40px;
    margin: 0 110px;
  }
  @include respond(tab-port) {
    .blog-title {
      margin: 0 10px;
    }
  }

  @include respond(phone) {
    .blog-title {
      margin: 0;
      padding: 0;
    }
  }
}

.section-service {
  background-color: #f6f6f6;
  h1{
     width: 100%;
     text-align: center;
     color: #285078;
     font-size: 38px;
     font-weight: 600;
     margin-bottom: 50px;
     padding-top: 50px;
  }
  .row-index{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    .col-1-of-3 {
      width: 100%;
      flex: 0 0 31.333333%;
      max-width: 31.333333%;
      float: left;
      background: #fff;
      padding: 37px 42px;
      margin-bottom: 20px;
      border-bottom: 2px solid #fff !important;
      &:not(:last-child) {
        margin-right: 2rem;
      }
      &:nth-child(3n){
        margin-right: 0;
      }
      .service-card{
        .service-card__image{
          text-align: center;
          position: relative;
          img{
            display: block;
          }
          a{
            position: absolute;
            top: 10px;
            right: 0;
            width: 15px;
            height: 24px;
            background: url("../images/common/icon_de.png") no-repeat top center;
          }
        }
        .service-card__title{
          margin: 25px 0;
          a{
            color: #285078;
            font-size: 21px;
            text-align: left;
            font-weight: 500;
          }
        }
        .service-card__details{
          .service-card__description{
            color: #728293;
            font-size: 16px;
          }
        }
      }
      &:hover{
        cursor: pointer;
        border-bottom: 2px solid #d5ae62 !important;
        .service-card{
          .service-card__image{
            a{
              background: url("../images/common/icon_active.png") no-repeat top center;
            }
          }
        }
      }
    }
    .service-title {
      padding: 0 40px;
      margin: 0 110px;
    }

    @include respond(tab-port) {
      .service-title {
        margin: 0 10px;
      }
    }
    @include respond(phone) {
      .service-title {
        margin: 0;
        padding: 0;
      }
    }
  }
  @include respond(phone) {
    h1{
      font-size: 24px;
      margin-bottom: 0;
      padding-top: 0;
    }
    .row{
      .row-index{
        .col-1-of-3{
          flex: 100%;
          max-width: 100%;
          margin-right: 0;
          padding: 15px !important;
          .service-card{
            &__title{
              text-align: left;
              margin: 10px 0;
            }
            &__details{
              text-align: left;
            }
          }
        }
      }
    }
  }
}

.section-about-us {
  padding: 70px 0;

  .services-box {
    &__image {
      width: 100%;
    }
    &__details {
      width: 50%;
      vertical-align: top;
      display: inline-block;
      padding-right: 25px;

      p {
        font-size: 1.5rem;

        &:not(:last-of-type) {
          margin-bottom: 20px;
        }
      }
    }
    &__sup-header {
      font-size: 20px;
      text-transform: uppercase;
      color: #d5af63;
      font-weight: 700; 
    }
    &__title {
      color: #285078;
      font-size: 38px;
      font-weight: 600;
      margin-bottom: 40px;
    }
    &__list-service{
      li{
        margin-bottom: 20px;
        .list-service__title{
          font-size: 23px;
          color: #285078;
          font-weight: 500;
          .number{
            height: 37px;
            background: #d5ae62;
            display: inline-block;
            text-align: right;
            color: #fff;
            margin-right: 10px;
            padding: 0 5px 0 17px;
            font-size: 27px;
          }
        }
        .description{
          display: none;
          p{
            color: #728293;
            font-size: 16px;
          }
          &.showContent{
            display: block !important;
          }
        }
        
      }
    }
    &__image--container {
      width: 49%;
      display: inline-block;
      overflow: hidden;
      background-position: center;
      height: 603px;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  @include respond(tab-port) {

    padding: 10px 0;
    .services-box{
      &__details {
        width: 100%;
        margin: 20px 0;
        display: block;
        padding: 0;
        text-align: left;
      }
      &__sup-header{
        font-size: 16px;
      }
      &__title{
        font-size: 24px;
      }
      &__image--container {
        width: 100%;
        display: block;
        transform: translateY(0px);
        background-size: 100%;
      }
      &__list-service{
        li{
          .list-service__title{
            font-size: 16px;
            .number{
              font-size: 19px;
              height: auto;
            }
          }
        }
      }
      &__image--container {
        display: none;
      }
    }

  }
  @include respond(phone) {
    .services-box__image--container {
      height: 300px;
    }
  }
}
.top-banner__buttons_center{
  text-align: center;
  margin-bottom: 100px;
  .button{
      margin-right: 10px;
      &:last-child{
      border: 1px solid #818181;
      color: #818181 !important;
    }
  }
}
.sub-slogan{
  font-size: 1.5rem;
  text-align: center;
  color: #777777;
}
.slogan-description{
  width: 910px;
  margin: auto;
  max-width: 100%;
}
.statistical{
  overflow: hidden;
  background: #d5ae62;
  padding: 50px 0;
  margin: 60px 0 0;
  &__list{
    li{
      display: inline-block;
      width: 24.8%;
      text-align: center;
      img{
        margin-bottom: 20px;
      }
      h3{
        font-size: 53px;
        color: #fff;
      }
      h4{
        color: #fff;
        font-size: 20px;
        margin-top: -10px;
      }
    }
  }
  @include respond(phone) {
    margin: 0;
    &__list{
      li{
        width: 50%;
        float: left;
        margin-bottom: 10px;
        img{
          margin-bottom: 10px;
        }
        h3{
          font-size: 25px;
          margin-bottom: 8px;
        }
        h4{
          font-size: 15px;
        }
      }
    }
  }
}
.event{
  background: #f6f6f6;
  padding: 98px 0;

  .event-box{
    position: relative;
    &__sup-header{
      font-size: 20px;
      text-transform: uppercase;
      color: #d5af63;
      font-weight: 700;
    }
    &__title{
      color: #285078;
      font-size: 38px;
      font-weight: 600;
      margin-bottom: 40px;
    }
    .slick-event{
      position: inherit !important;
      padding: 50px 0;
      .next{
        position: absolute;
        right: 0;
        top: 47px;
      }
      .prev{
        position: absolute;
        right: 100px;
        top: 47px;
      }
      .center{
        position: absolute;
        right: 59px;
        top: 40px;
      }
      &__main{
        padding: 0 5px;
        img{
          width: 100%;
          height: auto;
        }
        p{
          padding: 0 15px;
          background: #fff;
        }
        &__the_date{
          padding: 30px 15px 20px !important;
          color: #d5ae62;
          font-size: 16px;
        }
        &__title{
          font-size: 20px;
          color: #285078;
        }
        &__expert{
          font-size: 14px;
          color: #728293;
          padding: 25px 15px !important;
        }
        &__read_more{
          color: #d5ae62;
          font-size: 16px;
          padding-bottom: 35px !important;
          a{
            border-bottom: 2px solid #dce1e7 !important;
            padding-bottom: 5px;
          }
        }
      }
    }
    .text-more{
      color: #d5ae62;
      padding: 20px 30px;
      font-size: 18px;
      border: 1px solid #d5ae62 !important;
      width: 323px;
      margin: 0 auto;
    }
  }
  @include respond(phone) {
    padding: 0;
    .event-box{
      text-align: left;
      &__sup-header{
        font-size: 16px;
      }
      &__title{
        margin-bottom: 0;
        font-size: 24px;
      }
      .slick-event{
        .prev{
          top: 15px;
        }
        .center{
          top: 10px;
        }
        .next{
          top: 15px;
        }
      }
    }
  }
}