.bizlawyer-intro{
	h4{
		color: #88919a;
		font-size: 18px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 14px;
	}
	h3{
		color: #285078;
		font-size: 26px;
		padding-bottom: 20px;
		text-align: center;
		font-weight: 600;
		position: relative;
		margin-bottom: 60px;
		&:after{
			content: "";
		    background: #e3c07b;
		    position: absolute;
		    width: 158px;
		    height: 3px;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    margin: 0 auto;
		}
	}
	h5{
		font-size: 20px;
		color: #285078;
	}
	p{
		color: #728293;
		font-size: 20px;
		margin-bottom: 30px;
	}
}
.banner-center{
	img{
		width: 100% !important;
		height: auto !important;
		margin-bottom: 60px;
	}
}