.section-packages {
  &:nth-child(1) {
    margin-bottom: 65px;
  }
  .ddev-pagenavi {
    a {
      padding: 20px 30px;
      float: left;
      font-weight: bold;
    }
    .current {
      padding: 20px 30px;
      float: left;
      background-image: url("../images/common/btn_step.jpg");
      background-repeat: no-repeat;
      color: #fff;
      font-weight: bold;
    }
  }
  .blog-title {
    margin-bottom: 100px;
    &__img--container {
      text-align: center;
    }
    .heading-secondary {
      margin-bottom: 25px !important;
    }
  }
  &--gray {
    background-color: #fafafa;
    padding: 100px 0;

    .packages-box {
      padding: 30px 0;
      .row {
        .packages-box__details {
          .heading-primary {
            color: $color-blue-light;
          }
        }
      }
    }
  }
  &__img {
    text-align: center;
    height: 100px;
  }
  .packages-box {
    padding: 15px 0;

    &:last-of-type {
      margin-bottom: 50px;
    }

    &__sup-header {
      text-align: left;
      display: block;
      color: $color-gray;
      font-size: 1.5rem;
    }

    .heading-title {
      font-weight: 700;
      text-align: left;
      padding: 50px 0;
      text-transform: uppercase;
      font-size: 1.83rem;
    }

    &__image,
    &__details {
      display: table-cell;
    }

    &__image {
      height: 534px;
      background-size: cover;
      background-position: center;
    }
    &__link {
      text-transform: uppercase;
    }

    &__image:hover {
      height: 534px;
      background-size: cover;
      background-position: center;
      opacity: 0.5;
    }

    &__details {
      width: 71.5%;
      text-align: right;
      padding-right: 20px;

      .heading-secondary {
        text-align: right;
      }
    }

    &__image + .packages-box__details {
      padding-left: 50px;
      padding-right: 0;

      .heading-secondary {
        font-size: 2.5rem;
        text-align: left;
        padding:8px 0;
        margin: 0;
        line-height: 0.9;
      }

      .heading-primary {
        font-size: 3.1rem;
        font-weight: 700;
        text-align: left;
        line-height: 1;
        color: $color-blue-light;
        margin-bottom: 10px;
      }
    }

    &__container--link {
      padding: 30px 0;
      font-weight: 700;

      a {
        font-size: 1.83rem;
      }
    }
    @include respond(tab-port) {
      &__details {
        width: 64.9%;
      }
      &__image {
        height: 300px;
      }
      &__image:hover {
        height: 300px;
      }
    }
    @include respond(phone) {
      padding: 0;
      .row {
        padding: 0;
      }
      &__image,
      &__details {
        width: 100%;
        display: block;
        padding: 10px 0 0px !important;
      }
    }
  }
  @include respond(tab-port) {
    .blog-title {
      margin-bottom: 0;
    }
    .packages-box {
      padding: 0;
    }
  }
  @include respond(phone) {
    &--gray {
      padding: 20px;
    }
  }
}
.section-packages--gray {
  margin-top: 65px;
  padding-top: 66px!important;
  .section-packages__img {
    text-align: center;
    height: 45px;
  }
  .paragraph {
    color: #000000;
  }
}
.top-banner-packages {
  padding: 203px 0 76px;
}

.pagination-cover {
  padding: 145px 0 130px;
  .pagination-tool {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      width: 75px;
      height: 75px;
      background: #fff;
      display: inline-block;
      a {
        color: #222;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: #000;
        font-weight: 700;
        transition: 0.2s;
        -webkit-transition: 0.2s;
        &.active {
          color: #fff;
          background-image: url(../images/common/btn-pagination.png);
        }
        &:hover {
          color: #fff;
          background-image: url(../images/common/btn-pagination.png);
        }
      }
    }
  }
}
