.section-services {
  background-color: #fff;

  .blog-title {
    padding-bottom: 30px;

    &__img--container {
      text-align: center;
    }
  }

  &__img {
    text-align: center;
    height: 100px;
  }


  .services-box {

    &:last-of-type {
      margin-bottom: 50px;
    }

    &.services-box-gray {
      background-color: #fdfcfc;
      padding: 80px 0;

      .heading-secondary {
        color: $color-primary;
      }
    }

    &__sup-header {
      color: $color-gray-light;
      font-size: 1.83rem;
      font-weight: 700;
    }

    &__image,
    &__details {
      display: table-cell;
      vertical-align: middle;
    }

    &__image {
      width: 50%;
      height: 506px;
      background-size: cover;
      background-position: center;
    }

    &__details {
      width: 50%;
      padding-right: 60px;

      .heading-secondary {
        margin-bottom: 15px;
      }
    }

    &__image + .services-box__details {
      padding-left:60px;
      padding-right: 0;
    }

    &--right-image {
      padding: 80px 0;
      .row {
        position: relative;
      }

      .services-box {
        &__image {
          float: right;
        }

        &__details {
          top: 50%;
          width: 50%;
          position: absolute;
          transform: translateY(-50%);
          padding-right: 60px;
          padding-left: 0;

          .heading-secondary {
            color: $color-primary;
          }

          @include respond(phone) {
            top: 100%;
            width: 100%;
            position: relative;
            transform: translateY(5%);
          }
        }
      }
    }
    @include respond(phone) {
      &--right-image {

        .row{
          padding: 0 !important;
        }
      }
      &-gray {
        padding: 0 !important;
        .row{
          padding: 0 !important;
        }
      }
      &__image {
        width: 100%;
      }
      &__details {
        width: 100%;
      }
      &__image,
      &__details {
        display:block;
        vertical-align: middle;
        padding: 20px 0;
      }
    }
  }
  @include respond(tab-port) {
    .blog-title {
      padding-bottom: 0px;
    }
  }
}
.bg-service{
  background: #f6f6f6;
  padding: 90px 0;
  img{
    margin-right: 25px;
  }
  .info-service{
    .title-service{
      color: #285078;
      font-size: 22px;
      font-weight: bold;
      text-transform: uppercase;
    }
    p{
      font-size: 16px;
      color: #728293;
    }
  }
}
.child-service{
  background: #fff;
  .event-box{
    border-bottom: 1px solid #cfcfcf !important;
    padding: 40px 0 40px 30px;
    h5{
      font-size: 18px;
      font-weight: 400;
      span{
        color: #d5ae62;
        margin-right: 20px;
      }
    }
    
  }
  .ddev-pagenavi{
    padding: 50px 0;
    text-align: center;
  }
}