.page-form{
	background: #f6f6f6;
	.col-1-of-3{
		width: 100%;
	    flex: 0 0 31.333333%;
	    max-width: 31.333333%;
	    float: left;
	    padding: 37px 20px;
	    margin-right: 0 !important;
	    h3{
	    	color: #285078;
	    	text-transform: uppercase;
	    	font-weight: bold;
	    	font-size: 22px;
	    	padding-top: 10px;
	    }
	    .box-in{
	    	position: relative;
	    	select{
		    	width: 100%;
		    	padding: 20px;
		    	background: #fff;
		    	position: relative;
		    	
		    }
		    &::before{
		    	content: "";
	    		position: absolute;
				top: 0;
				right: 0;
				width: 20%;
				height: 100%;
	    		background: url('../images/common/icon_drop.jpg') no-repeat right center;
	    		z-index: 9999;
	    		pointer-events: none;
	    	}
	    }
	    .form{
	    	position: relative;
	    	input{
	    		padding: 20px;
	    		width: 100%;
	    	}
	    	img{
	    		position: absolute;
	    		right: 14px;
	    		top: 14px;
	    	}
	    }
	}
	.col-1-of-6{
		width: 100%;
	    flex: 0 0 50%;
	    max-width: 50%;
	    float: left;
	    padding: 37px 20px;
	    margin-right: 0 !important;
	    h3{
	    	color: #285078;
	    	text-transform: uppercase;
	    	font-weight: bold;
	    	font-size: 22px;
	    	padding-top: 10px;
	    }
	    .box-in{
	    	position: relative;
	    	select{
		    	width: 100%;
		    	padding: 20px;
		    	background: #fff;
		    	position: relative;
		    	
		    }
		    &::before{
		    	content: "";
	    		position: absolute;
				top: 0;
				right: 0;
				width: 20%;
				height: 100%;
	    		background: url('../images/common/icon_drop.jpg') no-repeat right center;
	    		z-index: 9999;
	    		pointer-events: none;
	    	}
	    }
	    .form{
	    	position: relative;
	    	input{
	    		padding: 20px;
	    		width: 100%;
	    	}
	    	img{
	    		position: absolute;
	    		right: 14px;
	    		top: 14px;
	    	}
	    }
	}
}
.page-form-content{
	background: #fff;
	.form-box{
		overflow: hidden;
		&__details{
			h5{
				padding: 30px;	
				border-bottom: 1px solid #cfcfcf !important;
				margin-bottom: 30px;
				a{
					color: #595959;
					font-size: 18px;
				}
				img{
					margin-right: 10px;
					margin-bottom: -10px;
				}
			}
		}
	}
}