.page-form {
  background: #f6f6f6;
}
.page-form .col-1-of-3 {
  width: 100%;
  flex: 0 0 31.333333%;
  max-width: 31.333333%;
  float: left;
  padding: 37px 20px;
  margin-right: 0 !important;
}
.page-form .col-1-of-3 h3 {
  color: #285078;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  padding-top: 10px;
}
.page-form .col-1-of-3 .box-in {
  position: relative;
}
.page-form .col-1-of-3 .box-in select {
  width: 100%;
  padding: 20px;
  background: #fff;
  position: relative;
}
.page-form .col-1-of-3 .box-in::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background: url("../images/common/icon_drop.jpg") no-repeat right center;
  z-index: 9999;
  pointer-events: none;
}
.page-form .col-1-of-3 .form {
  position: relative;
}
.page-form .col-1-of-3 .form input {
  padding: 20px;
  width: 100%;
}
.page-form .col-1-of-3 .form img {
  position: absolute;
  right: 14px;
  top: 14px;
}
.page-form .col-1-of-6 {
  width: 100%;
  flex: 0 0 50%;
  max-width: 50%;
  float: left;
  padding: 37px 20px;
  margin-right: 0 !important;
}
.page-form .col-1-of-6 h3 {
  color: #285078;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  padding-top: 10px;
}
.page-form .col-1-of-6 .box-in {
  position: relative;
}
.page-form .col-1-of-6 .box-in select {
  width: 100%;
  padding: 20px;
  background: #fff;
  position: relative;
}
.page-form .col-1-of-6 .box-in::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background: url("../images/common/icon_drop.jpg") no-repeat right center;
  z-index: 9999;
  pointer-events: none;
}
.page-form .col-1-of-6 .form {
  position: relative;
}
.page-form .col-1-of-6 .form input {
  padding: 20px;
  width: 100%;
}
.page-form .col-1-of-6 .form img {
  position: absolute;
  right: 14px;
  top: 14px;
}

.page-form-content {
  background: #fff;
}
.page-form-content .form-box {
  overflow: hidden;
}
.page-form-content .form-box__details h5 {
  padding: 30px;
  border-bottom: 1px solid #cfcfcf !important;
  margin-bottom: 30px;
}
.page-form-content .form-box__details h5 a {
  color: #595959;
  font-size: 18px;
}
.page-form-content .form-box__details h5 img {
  margin-right: 10px;
  margin-bottom: -10px;
}

/*# sourceMappingURL=page-form.css.map */
