.blog-card {
  &__image {
    height: 265px;
    width: 100%;
    position: relative;
    background-size:cover;
    background-color: #000;
    background-position: center;

    & + .blog-card__details {
      color: #fff;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 35px 0 20px;
  }
  &__description {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75;
  }
  &__author {
    letter-spacing: 2px;
    font-weight: 700;
    padding: 20px !important;
    font-size: 1.5rem;
    color: $color-white;  
    border-top: 2px solid $color-blue;
    text-align: center;
    border-bottom: 2px solid $color-blue;
  }

  @include respond(tab-port) {
    .blog-card__image {
      margin: auto;
      width: 100%;
    }
  }
}
