.button {
  color: #fff !important;
  border: 0;
  margin: 0 auto;
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  width: 217px;
  height: 53px;
  &--primary {
    background-image: url('../images/common/button-send.png');
    background-repeat: no-repeat;
  }

  &--secondary {
    color: #2c6dc4 !important;
    font-size: 1.5rem;
    text-align: left;
    padding: 0;
    text-transform: none;
    margin: 25px 0 30px;
    font-weight: normal;
  }

  &--tertiary {
    background-color: transparent;
    background-repeat:no-repeat;
    border: 1px solid #fff;
  }
  
  &--pagination {
    padding: 15px 20px;
    background-color: $color-primary;
    background-image: linear-gradient(to bottom right, $color-primary, $color-secondary);
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, $color-primary, $color-secondary) 1 100%;
  }

  &--full {
    width: 100%;
  }

  @include respond(phone) {
    width: 100%;
  }
}
