.form {
  &__title {
    color: #000;
    font-size: 1.6rem;
    text-align: left;
    font-weight: 500;
    margin-bottom: 50px;
  }
  &__field {

    width: 100%;
    position: relative;

    .row {
      .col-1-of-2 {
        width: calc((100% - 2rem) / 2);
        &:not(:last-child) {margin-right: 2rem;}
      }
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    input, textarea {
      width: 100%;
      border: 1px solid #b0b0b0;
      padding: 16px 25px;
      background-color: #fff;
      font-size: 16px;
      border: 1px solid #e6e6e6 !important;
      font-family: "Roboto", sans-serif;
      &.error {
        border: 1px solid  #acacac;
      }

      &::placeholder {
        color: #a7b1bc;

      }
    }

    label.error {
      left: 0;
      color: $color-primary;
      bottom: -20px;
      position: absolute;
      font-size: .9rem;
    }
  }

  @include respond(tab-port) {
    &__field {
      .row {
        .col-1-of-2 {
          width: calc((100% - 3rem) / 2);
          &:not(:last-child) {margin-bottom: 3rem;}
        }
      }
    }
  }
}
