.quotation-form {
  width: 100%;
  padding: 30px 40px;
  display: block;
  background-color: #fff;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1), 0 6px 40px 0 rgba(0, 0, 0, 0.12);

  .form__title {
    font-size: 1.83rem;
    margin-bottom: 30px;
    color: #000;
    font-weight: 700;
  }

  &--contact {
    .form__title {
      font-size: 1.83rem;
      margin-bottom: 20px;
      color: #1a354f;
      font-weight: 700;
      font-size: 22px;
    }
  }
}
