.slides {
  padding: 15px 10px;
  &--packages {
    .slides {
      &__item {
        width: 100%;
        background-size: cover;
        background-position: center;
        
        &:hover {
          .slides__content {
            display: block;
            background: linear-gradient(50deg, hsla(229, 65%, 53%, 0.5), rgba(152, 226, 253, 0.5));
            height: 100%;
          }
        }
      }

      &__content {
        margin: 0 auto;
        display: none;
        padding: 57% 0;
        text-align: center;
        max-width: $grid-width;

        .heading-primary {
          font-size: 2.5rem;
          font-weight: 700;
        }
        .paragraph {
          font-size: 2.5rem;
          font-weight: 700 !important;
          white-space: normal;
        }
      }
    }
  }
}
.footer{
  @include respond(phone) {
    .section-navigation{
      .slides{
        .slick-track{
          .slides__item{
            display: inline-block;
            img{
              width: 69px;
              height: auto;
            }
          }
        }
      }
    }
  }
}