.section-support {
  .support-card {
    &__img {
      height: auto;
    }
    &__image {
      position: relative;
      background-size: cover;
      height: auto;
      text-align: center;

      & + .support-card__details {
        color: #fff;
      }
    }
    &__title {
      font-size: 1.83rem;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
    }
    &__description {
      font-weight: 400;
      font-size: 1.5rem;
      color: $color-gray;
    }

    @include respond(tab-port) {
      &__image {
        padding: 0;
      }
    }
  }
}
// .support-card__title
.section-support {
  .col-1-of-4 {
    &:nth-child(3) {
      .support-card__title {
        text-align: center;
      }
    }
  }
}
