.top-banner {
  padding: 0px;
  background-color: $color-black;
  margin: 0 auto;
  background-repeat: no-repeat;
  padding: 7.5% 0;
  background-size: 100%;
  .top-banner__buttons{
    a{
      margin-right: 10px;
      font-size: 1.125rem;
      letter-spacing: 2px;
    }
  }
  .heading-primary {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.1;
  }

  .paragraph {
    font-size: 1.83rem;
    margin-bottom: 21px;
  }
  .form-search-banner{
    width: 100%;
    input[type="text"]{
      width: 92%;
      padding: 28px 20px;
    }
    input[type="submit"]{
      width: 7%;
      margin-left: -3px;
      background: url(../images/common/icon-s2.png) no-repeat right center;
      padding: 25px 0 31px;
    }
    @include respond(phone) {
      input[type="text"]{
        width: 259px;
        padding: 12px 10px 13px;
      }
      input[type="submit"]{
        background: url(../images/common/icon-s2-mobile.png) no-repeat right center;
        width: 48px;
        margin-left: -1px;
      }
    }
  }

  &__buttons {
    .button:last-of-type {
      @extend .button--tertiary;
    }

    .button:first-of-type {
      @extend .button--primary; 
    }
  }
  
  @include respond (tab-port) {
    .heading-primary {
      padding-right: 0;
    }
  }

  @include respond(phone) {
    padding: 75px 15px !important;
    background-position: center center;
    background-size: cover;
    & .paragraph {
      margin: 5px 0 0px;
      padding-bottom: 25px !important;
    }

    .heading-primary {
      font-size: 3.8rem;
    }

    &__buttons {
      a.button:first-of-type {
        margin-bottom: 15px;
        background-size: 100%;
      }
    }
  }
  &.top-banner-bieu-mau{
    padding: 12.5% 0;
  }
  &.top-banner-tinh-huong-tham-khao{
    padding: 12.5% 0;
  }
  &.top-banner{
    &-dau-tu, &-nguoi-nuoc-ngoai, &-so-huu-tri-tue, &-doanh-nghiep, &-giay-phep, &-linh-vuc-khac{
      padding: 12.5% 0;
    }
    
  }
}
.top-banner-gioi-thieu{
  padding: 0;
}
