.left{
	float: left;
}
.right{
	float: right;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
*, ::after, ::before {
    box-sizing: border-box;
}
* {
  outline: 0 !important;
  border: 0 !important;
}
.img-responsive{
    max-width: 100%;
    height: auto;
}
.ddev-pagenavi{
	a{
		color: #728293;
		border: 1px solid #e1e1e1 !important;
		padding: 10px 17px;
		font-size: 16px;
		margin: 0 10px;
	}
	span{
		border: 1px solid #e1e1e1 !important;
		padding: 10px 17px;
		font-size: 16px;
		margin: 0 6px;
		&.current{
			background: #285078;
			color: #fff;
		}
		&.extend{
			color: #728293;
		}
	}
}